@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
.dark {
  background-color: #040402;
  /* color: #fff; */
}
.light {
  background-color: #fff;
  /* color: #333; */
}

.gray {
  background-color: #333;
  /* color: #111; */
}

/* Main section */

.section {
  background-image: url("./img/img1.jpg");
  background-size: cover;
}

.section:hover {
  outline: 2px solid #356eff;
}

.section-nav {
  display: flex;
  justify-content: space-between;
  color: #ffff;
}

.name {
  text-transform: uppercase;
  margin-left: 60px;
  margin-top: 27px;
  font-size: 40px;
  font-family: "Aladin", cursive;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 20px 60px;
  font-size: 18px;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}

.home {
  background: linear-gradient(to right, #45e6fc 0%, #356eff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.blur {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  background-color: rgba(0, 0, 0, 0.7);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.text-top {
  text-align: center;
  width: 767px;
  height: 95px;
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 20px;
  background: linear-gradient(to right, #45e6fc 0%, #356eff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text-bottom {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7);
  width: 730px;
  text-align: center;
  /* letter-spacing: 1px; */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.button {
  text-transform: uppercase;
  padding: 12px 30px;
  margin: 30px;
  background: linear-gradient(to right, #45e6fc 0%, #356eff 100%);
  color: #fff;
  font-size: 17px;
}

.button:hover {
  transform: scale(1, 1.1);
  cursor: pointer;
}

.theme-btn {
  font-size: 22px;
  font-weight: 100;
  margin-top: 5px;
}

/* Media Query - Main Section */
@media screen and (max-width: 750px) {
  .main {
    height: 50vh;
  }

  .name {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 30px;
  }

  .list {
    margin: 10px 8px;
    font-size: 16px;
  }

  .text-top {
    width: 500px;
    font-size: 45px;
    margin-bottom: 20px;
    height: 60px;
  }

  .text-bottom {
    margin-top: 0;
    font-size: 14px;
    width: 420px;
  }
  .button {
    padding: 8px 17px;
    margin: 30px;
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    height: 35vh;
  }

  .name {
    margin-left: 5px;
    margin-top: 20px;
    font-size: 22px;
  }

  .list {
    margin: 10px 0px;
    font-size: 13px;
  }
}

@media screen and (max-width: 465px) {
  .main {
    height: 45vh;
  }

  .name {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 20px;
  }

  .list {
    margin: 10px 5px;
    font-size: 10px;
  }

  .text-top {
    width: 350px;
    font-size: 30px;
    margin-bottom: 0;
    height: 40px;
  }

  .text-bottom {
    font-size: 17px;
    width: 650px;
  }

  .text-bottom {
    font-size: 12px;
    width: 550px;
  }

  .text-bottom {
    margin-top: 0;
    font-size: 10px;
    width: 300px;
  }
  .button {
    padding: 6px 15px;
    margin: 15px;
    font-size: 8px;
  }
}

@media screen and (max-width: 345px) {
  .main {
    height: 45vh;
  }

  .name {
    /* margin-left: 10px; */
    margin-top: 15px;
    font-size: 18px;
  }

  .list {
    margin: 10px 10px;
    font-size: 8px;
  }

  .text-top {
    width: 350px;
    font-size: 30px;
    margin-bottom: 0;
    height: 40px;
  }

  .text-bottom {
    font-size: 17px;
    width: 650px;
  }

  .text-bottom {
    font-size: 12px;
    width: 550px;
  }

  .text-bottom {
    margin-top: 0;
    font-size: 10px;
    width: 300px;
  }
  .button {
    padding: 6px 15px;
    margin: 15px;
    font-size: 8px;
  }
}

/* About section */

.about-section {
  display: flex;
  height: 88vh;
  padding: 60px;
}

.left {
  padding: 20px 0;
  width: 600px;
}

.right {
  margin-left: 50px;
}

.abt {
  display: flex;
  justify-content: space-between;
}

.about {
  font-size: 32px;
  text-transform: capitalize;
  color: #50595c;
  font-weight: 600;
}

#dark .about {
  color: #fff;
}

.about-text {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 100;
  line-height: 36px;
  color: rgba(58, 58, 58, 0.7);
}
#dark .about-text {
  color: #fff;
}

.about-hr {
  width: 80px;
  margin-left: 0px;
  background: linear-gradient(to right, #45e6fc 0%, #356eff 100%);
  height: 2px;
  border: none;
}

.about-list {
  list-style: none;
  font-size: 24px;
  color: #3a3a3a;
  font-weight: 600;
}

#dark .about-list {
  color: #fff;
}

.about-image {
  height: 550px;
  width: 550px;
  margin-top: 40px;
}

.list-val {
  font-size: 24px;
  display: flex;
}

.list-image {
  margin: 10px 20px;
}

@media screen and (max-width: 750px) {
  .about-section {
    height: 30vh;
  }

  .about {
    font-size: 16px;
    font-weight: 600;
  }

  .about-text {
    margin-top: 9px;
    font-size: 9px;
    font-weight: 400;
    line-height: 18px;
  }

  .about-hr {
    width: 40px;
    height: 1px;
  }

  .left {
    padding: 0px;
    width: 300px;
  }

  .right {
    display: block;
  }

  .about-list {
    font-size: 12px;
    font-weight: 600;
  }

  .about-image {
    margin-top: 20px;
    margin-right: 20px;
    visibility: visible;
    width: 250px;
    height: 300px;
  }

  .list-val {
    font-size: 14px;
  }

  .list-image {
    margin: 5px 5px;
  }

  .list-icon {
    width: 22px;
  }
}

@media screen and (max-width: 600px) {
  .about {
    font-size: 18px;
  }

  .about-text {
    margin-top: 15px;
    font-size: 11px;
    line-height: 20px;
  }
  .left {
    padding: 0px;
    width: 400px;
  }

  .right {
    display: none;
  }
}

@media screen and (max-width: 465px) {
  .about-section {
    width: 100px;
    height: 25vh;
    padding: 30px;
  }

  .about {
    font-size: 16px;
    font-weight: 600;
  }

  .about-text {
    margin-top: 9px;
    font-size: 9px;
    font-weight: 400;
    line-height: 18px;
  }

  .about-hr {
    width: 40px;
    height: 1px;
  }

  .left {
    padding: 0px;
    width: 400px;
  }

  .right {
    display: none;
  }

  .about-list {
    font-size: 12px;
    font-weight: 600;
  }

  .about-image {
    visibility: hidden;
  }

  .list-val {
    font-size: 14px;
  }

  .list-image {
    margin: 5px 10px;
  }

  .list-icon {
    width: 22px;
  }
}

@media screen and (max-width: 400px) {
  .about-section {
    height: 25vh;
  }

  .about {
    font-size: 14px;
  }

  .about-text {
    margin-top: 9px;
    font-size: 7px;
    line-height: 15px;
  }

  .about-hr {
    width: 30px;
  }

  .left {
    padding: 0px;
    width: 250px;
  }

  .about-list {
    font-size: 10px;
  }

  .list-val {
    font-size: 14px;
  }

  .list-image {
    margin: 3px 8px;
  }

  .list-icon {
    width: 18px;
  }
}

/* Offer Section */
.offer-section {
  background-color: #e5e5e5;
  height: 90vh;
}

#dark .offer-section {
  background-color: #111;
}

.offer-image {
  height: 56px;
  width: 56px;
}
.offer-header {
  text-align: center;
  padding: 20px;
  padding-top: 50px;
  font-size: 32px;
  color: #3a3a3a;
}

#dark .offer-header {
  color: #fff;
}

.offer-head {
  font-size: 32px;
}

.options {
  display: flex;
}
.option {
  padding: 20px;
  text-align: center;
}

.option-text {
  padding: 0 40px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 100;
  line-height: 38px;
  color: rgba(58, 58, 58, 0.7);
}

#dark .option-text {
  color: #fff;
}

.offer-hr {
  width: 80px;
  background: linear-gradient(to right, #45e6fc 0%, #356eff 100%);
  height: 2px;
  border: none;
}

@media screen and (max-width: 750px) {
  .offer-section {
    height: 30vh;
  }

  .offer-image {
    height: 24px;
    width: 24px;
  }
  .offer-header {
    padding: 5px;
    padding-top: 20px;
    font-size: 16px;
  }

  .offer-head {
    font-size: 20px;
  }

  .option {
    padding: 12px;
  }

  .option-text {
    padding: 0 20px;
    margin-top: 15px;
    font-size: 11px;
    line-height: 20px;
  }

  .offer-hr {
    width: 40px;
    height: 1px;
  }

  .text-1 {
    margin-top: 16px;
  }
}

@media screen and (max-width: 600px) {
  .offer-section {
    height: 40vh;
  }

  .text-1 {
    margin-top: 35px;
  }
}

@media screen and (max-width: 465px) {
  .offer-section {
    height: 35vh;
  }

  .offer-image {
    height: 26px;
    width: 26px;
  }
  .offer-header {
    font-size: 14px;
  }

  .offer-head {
    font-size: 20px;
  }

  .option {
    padding: 12px;
  }

  .option-text {
    margin-top: 8px;
    font-size: 10px;
    line-height: 20px;
  }

  .text-1 {
    margin-top: 5px;
  }
}

/*Pricing -section*/

.pricing-section {
  height: 120vh;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin: 0 150px;
  padding: 0;
}

.card {
  background: #f2f2f2;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  color: rgba(58, 58, 58, 0.7);
  height: 90vh;
  width: 300px;
}

#dark .card {
  background-color: #111;
  color: #fff;
}

.card-type {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.card-price {
  margin-top: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

#dark .card-price {
  background: linear-gradient(to right, #45e6fc 0%, #356eff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card-symbol {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 500;
}

.card-list {
  margin-top: 10px;
  list-style: none;
}

.card-list-val {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 13px 10px;
  margin: 0 20px;
  text-align: center;
  border-bottom: 1px solid rgba(58, 58, 58, 0.2);
}

.card-list-val-blue {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.card-image {
  text-align: center;
  margin: 20px 0;
}

.card-img {
  height: 40px;
  width: 40px;
}

.card-blue {
  background: #356eff;
  color: #ffff;
}

.card-btn {
  background-color: #356eff;
  padding: 12px 17px;
  font-size: 14px;
  text-align: center;
  margin: 25px 60px;
  text-transform: uppercase;
  border-radius: 2px;
  color: #ffff;
  font-weight: 600;
  cursor: pointer;
}

#dark .card-btn {
  background: linear-gradient(to right, #45e6fc 0%, #356eff 100%);
}

.card-btn-1 {
  margin-top: 210px;
}

.card-btn-blue {
  background-color: #ffff;
  color: #356eff;
  margin-top: 116px;
}

#dark .card-btn-blue {
  color: #fff;
}

.check {
  height: 15px;
  width: 15px;
}

@media screen and (max-width: 900px) {
  .pricing-section {
    height: 60vh;
  }

  .cards {
    padding: 0 10px;
  }

  .card {
    height: 40vh;
    padding: 20px 10px;
    margin: 0 5px;
  }

  .card-type {
    font-size: 17px;
  }

  .card-price {
    margin-top: 3px;
    font-size: 18px;
  }

  .card-symbol {
    font-size: 11px;
    margin-top: 7px;
  }

  .card-list-val {
    font-size: 12px;
    padding: 5px 0px;
    margin: 7px 1px;
  }

  .card-image {
    margin-bottom: 0;
  }

  .card-img {
    height: 24px;
    width: 24px;
  }

  .card-btn {
    text-align: center;
    width: 80px;
    font-size: 12px;
    margin: 45px 50px;
  }

  .card-btn-1 {
    margin-top: 175px;
  }

  .card-btn-blue {
    margin-top: 115px;
  }

  .check {
    height: 8px;
    width: 8px;
  }
}

@media screen and (max-width: 750px) {
  .pricing-section {
    height: 47vh;
  }

  .cards {
    padding: 0 20px;
    /* margin: 0px 10px; */
  }

  .card {
    height: 35vh;
    /* width: 1000px; */
    padding: 20px 10px;
    margin: 0 5px;
  }

  .card-type {
    font-size: 16px;
  }

  .card-price {
    margin-top: 3px;
    font-size: 16px;
  }

  .card-symbol {
    font-size: 10px;
    margin-top: 6px;
  }

  .card-list-val {
    font-size: 12px;
    padding: 5px 0px;
    margin: 7px 1px;
  }

  .card-image {
    margin-bottom: 0;
  }

  .card-img {
    height: 22px;
    width: 22px;
  }

  .card-btn {
    text-align: center;
    width: 80px;
    /* padding: 6px 10px; */
    font-size: 12px;
    margin: 15px 50px;
  }

  .card-btn-1 {
    margin-top: 135px;
  }

  .card-btn-blue {
    margin-top: 75px;
  }

  .check {
    height: 8px;
    width: 8px;
  }
}

@media screen and (max-width: 600px) {
  .pricing-section {
    height: 35vh;
  }

  .cards {
    padding: 0;
  }

  .card {
    height: 20vh;
    width: 110px;
    margin: 20px 5px;
  }

  .card-type {
    font-size: 8px;
  }

  .card-price {
    margin-top: 3px;
    font-size: 12px;
  }

  .card-symbol {
    font-size: 6px;
    margin-top: 6px;
  }

  .card-list-val {
    font-size: 5px;
    padding: 2px 0px;
    margin: 3px 5px;
  }

  .card-image {
    margin: 10px 0;
    margin-bottom: 0;
  }

  .card-img {
    height: 18px;
    width: 18px;
  }

  .card-btn {
    width: 50px;
    padding: 6px 8px;
    font-size: 7px;
    margin: 18px 20px;
  }

  .card-btn-1 {
    margin-top: 87px;
  }

  .card-btn-blue {
    margin-top: 53px;
  }

  .check {
    height: 8px;
    width: 8px;
  }
}

@media screen and (max-width: 465px) {
  .pricing-section {
    height: 35vh;
  }

  .cards {
    padding: 0;
  }

  .card {
    height: 20vh;
    width: 110px;
    margin: 20px 5px;
  }

  .card-type {
    font-size: 8px;
  }

  .card-price {
    margin-top: 3px;
    font-size: 12px;
  }

  .card-symbol {
    font-size: 6px;
    margin-top: 6px;
  }

  .card-list-val {
    font-size: 5px;
    padding: 2px 0px;
    margin: 3px 5px;
  }

  .card-image {
    margin: 10px 0;
    margin-bottom: 0;
  }

  .card-img {
    height: 18px;
    width: 18px;
  }

  .card-btn {
    width: 50px;
    padding: 6px 8px;
    font-size: 7px;
    margin: 18px 20px;
  }

  .card-btn-1 {
    margin-top: 87px;
  }

  .card-btn-blue {
    margin-top: 53px;
  }

  .check {
    height: 8px;
    width: 8px;
  }
}

/*works section*/

.works-section {
  height: 130vh;
  background-color: #e5e5e5;
}

#dark .works-section {
  background-color: #111;
}

.picture-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 150px;
  flex-wrap: wrap;
  border-top-left-radius: 2px solid red;
  padding: 10px;
}

.work-image {
  margin: 10px 0px;
  width: 300px;
  height: 200px;
}

.image-tag {
  /* margin: 0px 50px; */
  margin-top: -15px;
  margin-bottom: 30px;
  padding: 15px 12px;
  display: flex;
  justify-content: space-between;
  background-color: #040402;
  color: #ffff;
}

.image-name {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 100;
}

.image-link {
  font-size: 14px;
  background: linear-gradient(to right, #45e6fc 0%, #356eff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .works-section {
    height: 45vh;
  }

  .picture-container {
    padding: 0px;
    margin: 10px 100px;
  }

  .work-image {
    margin: 5px 2px;
    width: 150px;
    height: 120px;
  }

  .image-name {
    font-size: 10px;
  }

  .image-link {
    font-size: 8px;
  }
}
@media screen and (max-width: 600px) {
  .works-section {
    height: 35vh;
  }

  .picture-container {
    margin: 10px 40px;
  }

  .work-image {
    margin: 5px 0px;
    width: 120px;
    height: 90px;
  }

  .image-tag {
    margin-top: -7px;
    margin-bottom: 15px;
    padding: 7px 6px;
  }

  .image-name {
    font-size: 6px;
  }

  .image-link {
    font-size: 4px;
  }
}

@media screen and (max-width: 465px) {
  .works-section {
    height: 35vh;
  }

  .picture-container {
    margin: 10px 40px;
  }

  .work-image {
    margin: 5px 0px;
    width: 120px;
    height: 90px;
  }

  .image-tag {
    margin-top: -7px;
    margin-bottom: 15px;
    padding: 7px 6px;
  }

  .image-name {
    font-size: 6px;
  }

  .image-link {
    font-size: 4px;
  }
}

@media screen and (max-width: 420px) {
  .works-section {
    height: 45vh;
  }

  .picture-container {
    margin: 30px 10px;
  }

  .work-image {
    margin: 5px 0px;
    width: 120px;
    height: 90px;
  }

  .image-tag {
    margin-top: -7px;
    margin-bottom: 15px;
    padding: 7px 6px;
  }

  .image-name {
    font-size: 6px;
  }

  .image-link {
    font-size: 4px;
  }
}

/* Team Section */

.team-section {
  height: 100vh;
  /* background-color: #f2f2f2; */
}

.box-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 130px;
}

.box {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #45e6fc, #356eff);
  border-radius: 10px;
  border: 1px solid #356eff;
  width: 200px;
  padding: 60px 60px;
}

.box-name {
  text-transform: capitalize;
  text-align: center;
  font-size: 24px;
  color: #3a3a3a;
}

#dark .box-name {
  color: #fff;
}

.image-container {
  text-align: center;
}

.box-description {
  text-align: center;
  font-size: 18px;
  color: rgba(58, 58, 58, 0.7);
  margin-top: 10px;
}

#dark .box-description {
  color: #fff;
}
.box-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  margin-top: 30px;
  margin-left: 22px;
}

.team-hr {
  display: flex;
  height: 2px;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .team-section {
    height: 35vh;
  }

  .box-container {
    margin: 25px 0px;
  }

  .box {
    width: 100px;
    padding: 30px 30px;
    margin: 10px 30px;
  }

  .box-name {
    font-size: 12px;
    margin-top: 20px;
  }

  .box-description {
    font-size: 10px;
    margin-top: 5px;
  }

  .box-icon {
    width: 75px;
    margin-top: 15px;
    margin-left: 11px;
  }

  .team-image {
    width: 70px;
  }

  .team-icon {
    width: 18px;
  }
}

@media screen and (max-width: 500px) {
  .team-section {
    height: 30vh;
  }

  .box-container {
    margin: 25px 0px;
  }

  .box {
    width: 100px;
    padding: 20px 10px;
    margin: 0 5px;
  }

  .box-name {
    font-size: 10px;
  }

  .box-description {
    font-size: 6px;
    margin-top: 5px;
  }
  .box-icon {
    width: 75px;
    margin-top: 15px;
    margin-left: 11px;
  }

  .team-hr {
    height: 1px;
  }

  .team-image {
    width: 50px;
  }

  .team-icon {
    width: 15px;
  }
}

/* Latest Section */

.latest-section {
  background-color: #e5e5e5;
  height: 100vh;
}

#dark .latest-section {
  background-color: #111;
}

.latest-image {
  display: flex;
  margin-top: 40px;
}
.latest-img {
  display: flex;
  align-items: flex-end;
  width: 280px;
}

.img-container {
  position: relative;
  margin: 0 28px;
}

.text-block {
  position: absolute;
  text-align: center;
  width: 230px;
  bottom: 35px;
  left: 35px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.clock {
  width: 15px;
  margin-bottom: -2px;
  margin-right: 10px;
  /* text-align: left; */
}

p {
  font-size: 15px;
  display: flex;
  align-items: center;
  margin: 10px 65px;
  font-weight: 100;
}

@media screen and (max-width: 750px) {
  .latest-section {
    height: 45vh;
  }

  .latest-image {
    display: flex;
    flex-wrap: wrap;
    margin: 3px 110px;
  }

  .latest-img {
    width: 200px;
    height: 180px;
  }

  .img-container {
    margin: 5px 30px;
  }

  .text-block {
    width: 180px;
    bottom: 1px;
    left: 17px;
    font-size: 14px;
  }

  .clock {
    width: 10px;
    margin-bottom: -1px;
    margin-right: 3px;
  }

  p {
    font-size: 12px;
    margin: 5px 57px;
  }
}

@media screen and (max-width: 600px) {
  .latest-section {
    height: 40vh;
  }

  .latest-image {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 70px;
  }
  .latest-img {
    width: 165px;
    height: 135px;
  }

  .img-container {
    /* margin: 12px 8px; */
  }

  .text-block {
    width: 120px;
    bottom: 1px;
    left: 17px;
    font-size: 8px;
  }

  .clock {
    width: 6px;
    margin-bottom: 1px;
    margin-right: 3px;
  }

  p {
    font-size: 6px;
    margin: 5px 43px;
  }
}

@media screen and (max-width: 465px) {
  .latest-section {
    height: 40vh;
  }

  .latest-image {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 70px;
  }
  .latest-img {
    width: 145px;
    height: 125px;
  }

  .img-container {
    margin: 12px 8px;
  }

  .text-block {
    width: 120px;
    bottom: 1px;
    left: 17px;
    font-size: 8px;
  }

  .clock {
    width: 6px;
    margin-bottom: 1px;
    margin-right: 3px;
  }

  p {
    font-size: 6px;
    margin: 5px 43px;
  }
}
@media screen and (max-width: 450px) {
  .latest-section {
    height: 40vh;
  }

  .latest-image {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 60px;
  }
  .latest-img {
    width: 145px;
    height: 125px;
  }

  .img-container {
    margin: 12px 8px;
  }

  .text-block {
    width: 120px;
    bottom: 1px;
    left: 17px;
    font-size: 8px;
  }

  .clock {
    width: 6px;
    margin-bottom: 1px;
    margin-right: 3px;
  }

  p {
    font-size: 6px;
    margin: 5px 43px;
  }
}

@media screen and (max-width: 400px) {
  .latest-section {
    height: 40vh;
  }

  .latest-image {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
  }
  .latest-img {
    width: 145px;
    height: 125px;
  }

  .img-container {
    margin: 12px 8px;
  }

  .text-block {
    width: 120px;
    bottom: 1px;
    left: 17px;
    font-size: 8px;
  }

  .clock {
    width: 6px;
    margin-bottom: 1px;
    margin-right: 3px;
  }

  p {
    font-size: 6px;
    margin: 5px 43px;
  }
}

/* Contact section  */

.contact-section {
  height: 90vh;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}

.contact-field {
  margin-top: 40px 30px;
  display: flex;
  flex-direction: column;
}

.contact-info {
  padding: 25px 0;
  width: 600px;
}

.contact-map {
  margin: 0px 40px;
  margin-left: 80px;
}

.map {
  height: 500px;
  width: 500px;
}

.input {
  background-color: inherit;
  padding: 15px 0;
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #45e6fc, #356eff);
  border-image-slice: 1;
  width: 100%;
  font-size: 15px;
  color: #333;
}

#dark .input {
  color: rgba(255, 255, 255, 0.5);
}

.input:focus {
  outline: none;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #45e6fc, #356eff);
  border-image-slice: 1;
}

.contact-btn {
  background: linear-gradient(to right, #45e6fc, #356eff);
  padding: 12px 20px;
  width: 80px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .contact-section {
    height: 30vh;
  }

  .contact {
    margin: 10px;
  }

  .contact-field {
    margin-top: 50px 15px;
  }

  .contact-info {
    padding: 12px 0;
    width: 300px;
  }

  .contact-map {
    margin: 40px 20px;
    margin-left: 40px;
  }

  .map {
    height: 200px;
    width: 200px;
  }

  .input {
    padding: 10px 0;
    margin: 14px 0;
    font-size: 10px;
  }

  .contact-btn {
    padding: 8px 12px;
    width: 50px;
    margin-top: 10px;
    font-size: 10px;
  }
}

@media screen and (max-width: 465px) {
  .contact-section {
    height: 30vh;
  }

  .contact {
    margin: 10px;
  }

  .contact-field {
    margin-top: 50px 15px;
  }

  .contact-info {
    padding: 12px 0;
    width: 300px;
  }

  .contact-map {
    margin: 40px 20px;
    margin-left: 40px;
  }

  .map {
    height: 150px;
    width: 150px;
  }

  .input {
    padding: 7px 0;
    margin: 10px 0;
    width: 100%;
    font-size: 7px;
  }

  .contact-btn {
    padding: 6px 10px;
    width: 40px;
    margin-top: 10px;
    font-size: 7px;
  }
}

/* Footer section */

.footer-section {
  height: 30vh;
  background-color: #111;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-name {
  text-transform: uppercase;
  margin-left: 70px;
  margin-top: 30px;
  font-size: 40px;
  font-family: "Aladin", cursive;
}

.footer-text {
  margin-top: 27px;
  margin-right: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}

.foot {
  text-align: center;
}
.footer-field {
  width: 280px;
  background: none;
  border: none;
}

.footer-field:focus {
  outline: none;
}

.footer-input {
  background-color: #fff;
  padding: 15px;
  padding-bottom: 12px;
  border-radius: 5px;
  margin-top: 20px;
}

.footer-icon {
  width: 25px;
}

.span {
  width: 120px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.arrow {
  width: 18px;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .footer-section {
    height: 15vh;
  }

  .footer-name {
    margin-left: 20px;
    margin-top: 45px;
    font-size: 23px;
  }

  .footer-text {
    margin-top: 35px;
    margin-right: 20px;
    font-size: 12px;
  }

  .footer-field {
    width: 140px;
    font-size: 11px;
  }

  .footer-input {
    padding: 2px 5px;
    margin-top: 10px;
  }

  .footer-icon {
    width: 15px;
  }

  .span {
    width: 60px;
    margin-top: 10px;
  }

  .arrow {
    width: 9px;
  }
}

@media screen and (max-width: 465px) {
  .footer-section {
    height: 12vh;
  }

  .footer-name {
    margin-left: 20px;
    margin-top: 45px;
    font-size: 20px;
  }

  .footer-text {
    margin-top: 35px;
    margin-right: 20px;
    font-size: 9px;
  }

  .footer-field {
    width: 120px;
    font-size: 8px;
  }

  .footer-input {
    padding: 2px 5px;
    margin-top: 10px;
  }

  .footer-icon {
    width: 12px;
  }

  .span {
    width: 60px;
    margin-top: 10px;
  }

  .arrow {
    width: 9px;
  }
}
